body{
  background-color: #b4b4b4;
  background-size: cover;
  color: #e7e7e7;
  margin: 0px;
  padding: 0;
 }
 
 #top{
  background-color: #4E5851;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

 #topnav{
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   padding-top: 15px;
 }
 
 .content a {
   transition-duration: 0.5s;
   float:left;
   padding: 20px 30px;
   color: rgb(255, 255, 255);
   text-decoration: none;      /*xoa gach chan o cac chu*/
   font-size: 22px;
   font-weight:200;
   font-family: 'Chakra Petch', sans-serif;
 }
 
 .content a:hover {
   /*text-decoration:overline;
   text-decoration-thickness: 4px;*/
   color: #e9e1cf;
 }
 
 
 #linkSM{
   padding-top: 25px;
   margin-right: 40px;
 }
 
 .icon{
   margin-left: 2px;
   padding: 5px;
   color: rgb(233, 233, 233);
   border-style:solid;
   border-block-start-width: 5px;
   border-top-color: #ada692;
   border-top-left-radius: 8px;
   border-bottom-right-radius: 8px;
 }
 
 .facebook{
   padding-left:6px;
   padding-right: 6px;
 }
 
 .icon:hover{
   background-color: #ada692;
 }
 
 .logo{
   color: rgb(255, 255, 255);
   padding: 20px 30px 0px 60px;
   font-size: 45px;
   font-family: 'Style Script', cursive;
   text-decoration: none; 
   transition: transform 1s;
 }
 
 .logo:hover{
   transform: scale(1.1);
 }

.icon_music{
  color: #837a62;
}

footer{
  font-size: 13px;
  color: #6d8072;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#main{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
}