body{
 background-image:url(christian-wiediger-WkfDrhxDMC8-unsplash.jpg);
 background-color: #e7e7e7;
 background-size: cover;

}
.topnav a {
  padding: 20px 100px;
  color: rgb(255, 255, 255);
  text-decoration: none;      /*xoa gach chan o cac chu*/
  font-size: 22px;
  font-weight:200;
  font-family: 'Chakra Petch', sans-serif;;
  display: inline-block;
  list-style-type: none;
}

.topnav a:hover {
  text-decoration:overline;
  text-decoration-thickness: 4px;
  transition-duration: 5s;
}

footer{
  color: aliceblue;
  font-family:'Times New Roman', Times, serif;
  padding-left: 45%;
}

.trend {
  padding-left: 50px;
}