body{
 background-color: #4E5851;
 background-size: cover;
 color: #e7e7e7;
 margin: 0;
 padding: 0;
}

#topnav{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 20px;
}

.content a {
  transition-duration: 0.5s;
  float:left;
  padding: 20px 30px;
  color: rgb(255, 255, 255);
  text-decoration: none;      /*xoa gach chan o cac chu*/
  font-size: 22px;
  font-weight:200;
  font-family: 'Chakra Petch', sans-serif;
}

.content a:hover {
  /*text-decoration:overline;
  text-decoration-thickness: 4px;*/
  color: #e9e1cf;
}


#linkSM{
  padding-top: 25px;
  margin-right: 40px;
}

.icon{
  margin-left: 2px;
  padding: 5px;
  color: rgb(233, 233, 233);
  border-style:solid;
  border-block-start-width: 5px;
  border-top-color: #ada692;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.facebook{
  padding-left:6px;
  padding-right: 6px;
}

.icon:hover{
  background-color: #ada692;
}

.trend {
padding-left: 43%;
}

.logo{
  color: rgb(255, 255, 255);
  padding: 30px 30px 0px 30px;
  font-size: 45px;
  font-family: 'Style Script', cursive;
  transition: transform 1s;
}

.logo:hover{
  transform: scale(1.1);
}

#top{
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
}

#intro{
  background-color: #4E5851;
  border-style:solid;
  border-color: #303832;
  border-width: 40px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.quotes{
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
  padding:120px 0px 0px 70px;
}


.author{
  font-size: 35px;
  color: rgb(202, 152, 86);
  font-family: 'WindSong', cursive;
  padding-left: 300px;
}

#intro img{
  width: 450px;
  height: auto;
  margin-right: 0%;
}


#main{
  display: flex;
  justify-content: space-between;
  padding: 70px 100px 30px 100px;
}


.text{
  font-size: 27px;
  font-family: 'Barlow', sans-serif;
  padding: 40px;
}

.text a{
  text-decoration: none;
  color: #ada692;
}

footer{
  font-size: 13px;
  color: #9caaa0;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}