body{
 background-image:url(christian-wiediger-WkfDrhxDMC8-unsplash.jpg);
 background-color: #e7e7e7;
 background-size: cover;
}

#topnav{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.content a {
  transition-duration: 0.9s;
  float:left;
  padding: 20px 30px;
  color: rgb(255, 255, 255);
  text-decoration: none;      /*xoa gach chan o cac chu*/
  font-size: 22px;
  font-weight:200;
  font-family: 'Chakra Petch', sans-serif;;
}

.content a:hover {
  text-decoration:overline;
  text-decoration-thickness: 4px;
}

footer{
  color: aliceblue;
  font-family:'Times New Roman', Times, serif;
  padding-left: 45%;
}

#linkSM{
  padding: 20px;
}

#linkSM a{                                    /*vuong thac mac khuc nay*/
  padding: 7px;
}

.trend {
  padding-left: 42%;
}

.logo{
  color: rgb(255, 255, 255);
  padding: 20px 30px;
  font-size: 30px;
}

#top{
  display: flex;
  justify-content: space-between;
}